<!-- 活动反馈页面 -->
<div layout="column" flex id="content">
  <md-list style="width: 400px;">
    <md-list-item>
      <p flex="10"> ID </p>
      <p> 用户名 </p>
      <p> 星级 </p>
      <p> 反馈 </p>
      <p> 排序 </p>
      <p> 操作 </p>
    </md-list-item>
    <md-list-item ng-repeat="entity in list | orderBy: 'status'">
      <p flex="10"> {{entity.id}} </p>      
      <p> {{entity.user.username}} </p>
      <p> {{entity.stars}} </p>
      <p> {{entity.feedback}} </p>
      <p> {{entity.status}} </p>
      <p layout="row">
        <!--<md-button class="md-raised" ng-click="update(entity)">修改</md-button>>-->
        <md-button class="md-raised md-warn" ng-click="delete(entity)">删除</md-button>
      </p>
    </md-list-item>
  </md-list>
</div>
