# Whether to enable debug mode in Yii. If not set this will be 0.
YII_DEBUG=1

# The application mode. If not set, this will be 'prod'
YII_ENV=dev

# The log trace level. If not set, this will be 0
#YII_TRACELEVEL=0

# Make sure that you provide a different unique cookie validation key in production
COOKIE_VALIDATION_KEY="SeCrEt_DeV_Key--DO-NOT-USE-IN-PRODUCTION!"

# DB credentials. Default is to fetch the host form docker vars and use 'web' as db name, username and password
#DB_DSN=mysql:host=my.dbhost.com;dbname=web
#DB_USER=user
#DB_PASSWORD=secret

# Configure a SMTP server here if you want to send emails
#SMTP_HOST=""
#SMTP_USER=""
#SMTP_PASSWORD=""

#WEIXIN_APP_ID=wxdd5504021ffca5fe
#WEIXIN_APP_SECRET=84cd613b31a54ebda9c86d653fe1debe
#WEIXIN_TOKEN=someetweixin
#WEIXIN_ENCODING_AES_KEY=3CrkMIyiNHs2ayieLrqBkQmnaImDaKE0lsR6Q2zaK8W

#WECHAT_DOMAIN=https://someetwechat.localtunnel.me/

#WEIXIN_TEMPLATE_SUCCESS_ID=zNEtUE3k-9c7ke-1saL09fuAQpd4P5ztRaIcIrl3BqM
#WEIXIN_TEMPLATE_FAILED_ID=oxZxlAxyTqCXI4nofvmpENm6Lk9RijGiDdJdCqPXuU0

#微信开放平台的id和secret
#WECHAT_OPEN_APP_ID=wx5be9bd83467274bc
#WECHAT_OPEN_APP_SECRET=d4624c36b6795d1d99dcf0547af5443d

#QINIU_ACCESS_KEY=''
#QINIU_SECRET_KEY=''
#QINIU_ACCESS_DOMAIN=''
#QINIU_BUCKET=''
#QINIU_UPLOAD_TOKEN_EXPIRES=3600

#YUNPIAN_API_KEY=''

#允许优化
#ENABLE_OPTIMIZE=false

JIGUANG_APP_KEY=528959c75f9322d0dd1ccfac
JIGUANG_APP_SECRET=5f126dca1765ebb8b1acf236