<div layout="column" flex id="content">
<!--   <button ng-click="clickMe()">Click me!</button>

  <div class="dialog-demo-content" layout="row" layout-wrap="">
    <md-button class="md-primary md-raised" ng-click="showAlert($event)" flex="" flex-md="100">
      弹出框
    </md-button>
    <md-button class="md-primary" ng-click="showConfirm($event)" flex="" flex-md="100">
      确认框
    </md-button>
  </div>
  <div><h1>Toast 示例：</h1></div>
  <div layout="row" layout-sm="column" layout-align="space-around">
    <div style="width:50px"></div>
    <md-button ng-click="showSimpleToast()">
      Show Simple
    </md-button>
    <md-button class="md-raised" ng-click="showActionToast()">
      Show With Action
    </md-button>
  </div> -->
  <div>
    <h2>登录页面-统计数据</h2>
  </div>
  <h3>总用户数量、新用户数量</h3>
  <div layout="row">
    <div flex-md="100" flex="" >
      <h3>7日用户留存</h3>
    </div>
    <div flex-md="100" flex="" >
      <h3>30日用户留存</h3>  
    </div>
  </div>
  <div layout="row">
    <div flex-md="100" flex="" >
      <h3>当前开放活动总数和已报满活动比较</h3>
    </div>
    <div flex-md="100" flex="" >
      <h3>当前活动总报名名额，及已报名数量</h3>  
    </div>
  </div>
</div>
