<div layout="column" flex id="content" ng-controller="ActivityTypeAddCtrl">
  <md-input-container>
    <label>类型名称</label>
    <input type="text" ng-model="activityType.name">
  </md-input-container>
  <md-input-container>
    <label>类型排序</label>
    <input type="number" ng-model="typeContent.displayorder" />
  </md-input-container>
  <md-input-container layout="row">
    <md-button class="md-raised md-primary" ng-click="create()">添加</md-button>
    <md-button class="md-raised md-warn" ng-click="cancel()">取消</md-button>
  </md-input-container>
</div>
