<div layout="column" flex id="content" ng-controller="ActivityTypeCtrl">
    <table border="1" width="100%">
        <tr>
            <td> ID </td>
            <td> 类型 </td>
            <td> 操作 </td>
        </tr>
        <tr ng-repeat="type in list | orderBy: 'displayOrder' ">
            <td>{{type.id}}</td>
            <td>{{type.name}}</td>
            <td>
                <input type="button" value="修改" ng-click="update(type)"/>
                <input type="button" value="删除" ng-click="delete(type)"/>
            </td>
        </tr>
    </table>
  <md-button class="activity-dialog-btn md-fab" ng-click="createActivityTypePage()" aria-label="add activity type">
    <i class="fa fa-plus"></i>
  </md-button>
</div>
