<div layout="column" flex id="content">
  <md-button class="user-dialog-btn md-fab" ng-click="createUserPage()" aria-label="add user">
    <i class="fa fa-plus"></i>
  </md-button>
  <md-list>
    <md-list-item>
      <p flex="10"> ID </p>
      <p> 用户名 </p>
    </md-list-item>
    <md-list-item ng-repeat="user in userList">
      <p flex="10"> {{user.id}} </p>
      <p> {{user.username}} </p>
      <p layout="row">
        <md-button class="md-raised" ng-href="/#/user/{{user.id}}">管理</md-button>
        <md-button class="md-raised md-warn" ng-click="remove($index, $event)">删除</md-button>
      </p>
    </md-list-item>
  </md-list>
  <div ng-show="userPagination" class="someet-pagination user-pagination">
    <pagination total-items="userPagination.totalItems" ng-model="userPagination.currentPage" ng-change="userPagination.pageChange()" items-per-page="userPagination.itemsPerPage" max-size="userPagination.maxSize" class="pagination-sm" boundary-links="false" rotate="false" num-pages="">
          <a href="javascript:void(0)" ng-click="userPagination.currentPage=1;changePage(1)">首页</a>
          <a href="javascript:void(0);" ng-click="prev()">上一页</a>
          <a href="javascript:void(0);" ng-click="changePage(page)" ng-repeat="page in pages">{{ page }}</a>
          <a href="javascript:void(0);" ng-click="next()">下一页</a>
          <a href="javascript:void(0)" ng-click="userPagination.currentPage=userPagination.totalItems;changePage(userPagination.totalItems)">末页</a>
    </pagination>
  </div>
</div>
