<div layout="column" flex id="content">
  <div class="container">
    <div>
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="/#/member">全部</a>
        </li>
        <li>
          <a href="/#/member/list/black">黑名单</a>
        </li>
        <li>
          <a href="/#/member/list/white">白名单</a>
        </li>
        <li>
          <a href="/#/member/list/pma">PMA</a>
        </li>
        <li>
          <a href="/#/member/list/founder">发起人</a>
        </li>
      </ul>
    </div>
  </div>
 <div class="activityList">
  <md-list>
    <md-list-item ng-repeat="user in userList">
    <div class="panel panel-default" style="width:100%;">
      <div class="panel-body ">
        <div class="media">
          <a class="pull-left" href="#">
            <!--img class="media-object avatarSize" src="./head1.png" alt="..."></a-->
            <img width="100" style="border-radius:50px" class="media-object avatarSize" src="{{user.profile.headimgurl}}" alt="..."></a>
          <span> <strong>{{user.username}}</strong> </span>
            <span ng-if="user.profile.from>0">你是怎么知道Someet的?<br /></span>
            <span ng-if="user.profile.from==1">朋友圈看到，就手抖点进来了</span>
            <span ng-if="user.profile.from==2">朋友专门给我安利过</span>
            <span ng-if="user.profile.from==3">有所耳闻，自己一路找过来的</span>
            <br />
            <br />

            <span ng-if="user.profile.want>0">你平时喜欢参加什么样的线下活动?<br /></span>
            <span ng-if="user.profile.want==1">我想要那种能给我独特体验的拉轰活动！</span>
            <span ng-if="user.profile.want==2">我想参加能让我认识志同道合小伙伴的活动！</span>
            <span ng-if="user.profile.want==3">我想通过活动获取一些生活技能或者硬知识?</span>
            <span ng-if="user.profile.want==4">我想找人聊聊人生，谈谈理想</span>
            <span ng-if="user.profile.want==5">我想通过活动融入一些兴趣圈子</span>
            <br />
            <br />

            推荐一个你身边有趣的人?<br />
          <span> {{user.profile.recommand}}</span>
          <br />
          <button class="btn btn-primary btn-float-right" type="button" ng-href="/#/member/{{user.id}}">
            已参加xx
            <span class="badge">4</span>
          </button>
        </div>
      </div>
      <div class="panel-footer">
        <span class="btn-float-right" ng-if="user.last_login_at">上次登录时间：{{user.last_login_at*1000|date:'yyyy年MM月dd日 HH:mm:ss'}}</span>
      </div>
    </div>     
      
    </md-list-item>
  </md-list>
  </div>
  <div ng-show="userPagination" class="someet-pagination user-pagination">
    <pagination total-items="userPagination.totalItems" ng-model="userPagination.currentPage" ng-change="userPagination.pageChange()" items-per-page="userPagination.itemsPerPage" max-size="userPagination.maxSize" class="pagination-sm" boundary-links="false" rotate="false" num-pages="">
          <a href="javascript:void(0)" ng-click="userPagination.currentPage=1;changePage(1)">首页</a>
          <a href="javascript:void(0);" ng-click="prev()">上一页</a>
          <a href="javascript:void(0);" ng-click="changePage(page)" ng-repeat="page in pages">{{ page }}</a>
          <a href="javascript:void(0);" ng-click="next()">下一页</a>
          <a href="javascript:void(0)" ng-click="userPagination.currentPage=userPagination.totalItems;changePage(userPagination.totalItems)">末页</a>
    </pagination>
  </div>
</div>
