<div layout="column" flex id="content">
  <div class="container">
    <div>
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#">全部</a>
        </li>
        <li>
          <a href="#">黑名单</a>
        </li>
        <li>
          <a href="#">白名单</a>
        </li>
      </ul>
    </div>
  </div>
 <div class="activityList">
  <md-list>
    <md-list-item ng-repeat="user in userList">
    <div class="panel panel-default" style="width:100%;">
      <div class="panel-body ">
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object avatarSize" src="./head1.png" alt="..."></a>
          <span> <strong>{{user.username}}</strong>
          </span>
          <button class="btn btn-primary btn-float-right" type="button" ng-href="/#/user/{{user.id}}">
            已参加xx
            <span class="badge">4</span>
          </button>
        </div>
      </div>
      <div class="panel-footer">
        白名单 id: {{user.id}}
        <span class="btn-float-right">上次登录时间：2015年xx月xx日17:18:07</span>
      </div>
    </div>     
      
    </md-list-item>
  </md-list>
  </div>
  <div ng-show="userPagination" class="someet-pagination user-pagination">
    <pagination total-items="userPagination.totalItems" ng-model="userPagination.currentPage" ng-change="userPagination.pageChange()" items-per-page="userPagination.itemsPerPage" max-size="userPagination.maxSize" class="pagination-sm" boundary-links="false" rotate="false" num-pages="">
          <a href="javascript:void(0)" ng-click="userPagination.currentPage=1;changePage(1)">首页</a>
          <a href="javascript:void(0);" ng-click="prev()">上一页</a>
          <a href="javascript:void(0);" ng-click="changePage(page)" ng-repeat="page in pages">{{ page }}</a>
          <a href="javascript:void(0);" ng-click="next()">下一页</a>
          <a href="javascript:void(0)" ng-click="userPagination.currentPage=userPagination.totalItems;changePage(userPagination.totalItems)">末页</a>
    </pagination>
  </div>
</div>
