<!-- 更新用户资料 -->
<div layout="column" layout-align-md id="content" class="container">
    <input type="hidden" ng-model="user.id" />
    <div class="" layout="column">
        <md-input-container layout="row" class="pull-right">
            <md-button class="md-raised md-primary" ng-click="updateUser()">确认修改</md-button>
            <md-button class="md-raised md-warn" ng-click="cancel()">取消</md-button>
        </md-input-container>
    </div>
    <div layout="row">
        <div flex layout-margin>
            <legend>用户资料修改</legend>
            <div class="media">
                <a class="pull-left">
                    <img width="40" style="border-radius:20px" class="media-object avatarSize" ng-src="{{profile.headimgurl}}">
                    <img width="40" style="border-radius:20px" class="media-object avatarSize" ng-src="{{headerImg}}"></a>
                <div class="md-raised" ng-file-select="onHeaderSelect($files)" data-multiple="false" title="select file" onclick="this.value = null" class="btn btn-upload">
                    <md-button class="md-raised md-info">设置头像</md-button>
                </div>
            </div>
            <div layout='row' layout-margin>
                <md-input-container flex="50">
                    <label>用户名</label>
                    <input type="text" ng-model="user.username" required />
                </md-input-container>
                <md-input-container flex="40">
                    <label>手机</label>
                    <input type="text" ng-model="user.mobile" disabled="true" />
                </md-input-container>
            </div>
            <div layout='row' layout-margin>
                <md-input-container flex="50">
                    <label>微信</label>
                    <input type="text" ng-model="user.wechat_id" disabled="true" />
                </md-input-container>
                <md-input-container flex="40">
                    <label>性别</label>
                    <input type="text" ng-model="user.profile.sex==1 ? '男' : user.profile.sex==2 ? '女' : '性别不明'" disabled="true" />
                </md-input-container>
            </div>
            <div layout='row' layout-margin>
                <md-input-container flex="50">
                    <label>是否关注服务号</label>
                    <input type="text" ng-model="user.username" disabled="true" />
                </md-input-container>
                <md-input-container flex="40">
                    <label>邮箱</label>
                    <input type="text" ng-model="user.email" required />
                </md-input-container>
            </div>
            <legend>
                黄牌记录
            </legend>
            <div flex-xs flex-gt-xs="50" flex="40" layout="column">
                <md-card ng-repeat="yellowCardList in yellowCardList">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-subhead">{{yellowCardList.activity_title}}</span>
                            原因：
                            <span class="md-subhead" ng-if="yellowCardList.card_category == 1">迟到</span>
                            <span class="md-subhead" ng-if="yellowCardList.card_category == 2">请假</span>
                            <span class="md-subhead" ng-if="yellowCardList.card_category == 3">爽约</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-sm card-media"><span class="md-subhead">{{ yellowCardList.created_at * 1000 | date: "MM月dd日 HH:mm:ss" }}</span></div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button><a href="" target="_blank">取消黄牌</a></md-button>
                    </md-card-actions>
                </md-card>
                <div class="" ng-if="yellowCardList == null"> 没有参加过活动</div>
            </div> 

            <legend>
                参加过的活动
            </legend>
            <div flex-xs flex-gt-xs="50" flex="40" layout="column">
                <md-card ng-repeat="answer in joinActivity.answers">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-subhead">{{answer.activity.title}}</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-sm card-media"><span class="md-subhead">{{ answer.activity.start_time * 1000 | date: "MM月dd日 HH:mm:ss" }}</span></div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button><a href="/#/answer/{{answer.activity.id}}" target="_blank">筛选</a></md-button>
                    </md-card-actions>
                </md-card>
                <div class="" ng-if="joinActivity.answers == null"> 没有参加过活动</div>
            </div>
        </div>
        <div flex layout-margin>
            <legend>设置用户身份</legend>
            <div layout="row" layout-wrap>
                <div flex="50">
                    <md-checkbox ng-model="data.cb2" aria-label="Checkbox 1" class="md-warn md-align-top-left"> <strong>发起人</strong>
                    </md-checkbox>
                    <md-input-container ng-if="data.cb2">
                        <label>发起人简介</label>
                        <input type="text" ng-model="user.profile.bio" required />
                    </md-input-container>
                </div>
                <div flex="50">
                    <md-checkbox ng-model="data.cb" aria-label="Checkbox 2" class="md-warn md-align-top-left"> <strong>PMA</strong>
                    </md-checkbox>
                </div>
                <div flex="50" style="display: none;">
                    <md-checkbox ng-model="data.cb3" aria-label="Checkbox 3" class="md-warn md-align-top-left">
                        <strong>白名单</strong>
                        <br/>
                        <span class="ipsum">特殊人群标记。</span>
                        <br/>
                    </md-checkbox>
                </div>
                <div class="" flex="50" ng-if="data.cb2">
                    <md-button class="md-raised" ng-click="founderActivity()">发起的活动</md-button>
                    <div flex-xs flex-gt-xs="50" flex="40" layout="column">
                        <md-card ng-repeat="answer in founderActivity.answers">
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-subhead">{{answer.title}}</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-title-media>
                                <div class="md-media-sm card-media"><span class="md-subhead">{{ answer.start_time * 1000 | date: "MM月dd日 HH:mm:ss" }}</span></div>
                            </md-card-title-media>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button><a href="/#/activity/{{answer.id}}" target="_blank">编辑</a></md-button>
                                <md-button><a href="/#/answer/{{answer.id}}" target="_blank">筛选</a></md-button>
                            </md-card-actions>
                        </md-card>
                    </div>
                </div>
                <div class="" flex="50" ng-if="data.cb">
                    <md-button class="md-raised" ng-click="pmaActivity()">PMA管理的活动</md-button>
                    <div flex-xs flex-gt-xs="50" flex="40" layout="column">
                        <md-card ng-repeat="answer in pmaActivity.answers">
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-subhead">{{answer.title}}</span>
                                </md-card-title-text>
                                <md-card-title-media>
                                    <div class="md-media-sm card-media"><span class="md-subhead">{{ answer.start_time * 1000 | date: "MM月dd日 HH:mm:ss" }}</span></div>
                                </md-card-title-media>
                                <md-card-title-media>
                                    <div class="md-media-sm card-media"></div>
                                </md-card-title-media>
                            </md-card-title>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button><a href="/#/answer/{{answer.id}}" target="_blank">筛选</a></md-button>
                            </md-card-actions>
                        </md-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
