@charset "UTF-8";
body {
  overflow-x: hidden;
  /*隐藏水平滚动条*/ }

.activity-card {
  position: relative;
  margin-bottom: 12px;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5); }

.activity-image {
  position: relative; }

.activity-img-mask {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 10; }

.bg-color-pink {
  background-color: #e8152f; }

.bg-color-white {
  background-color: white; }

.bg-color-black {
  background-color: black; }

.activity-card {
  position: relative;
  margin-bottom: 12px;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5); }

.so-float-right {
  float: right; }

.activity-title {
  position: absolute;
  color: white;
  content: "";
  font-size: 1.25em;
  height: 40px;
  width: 80%;
  bottom: 5px;
  right: 10px;
  z-index: 50; }

.activity-desc {
  position: absolute;
  color: white;
  content: "";
  font-size: 0.75em;
  height: 30px;
  width: 80%;
  bottom: 50px;
  right: 10px;
  z-index: 50; }

.activity-host {
  position: absolute;
  color: white;
  content: "";
  font-size: 0.75em;
  height: 30px;
  width: 80%;
  bottom: 75px;
  right: 10px;
  z-index: 50; }

.activity-location {
  position: absolute;
  color: white;
  content: "";
  font-size: 0.75em;
  height: 30px;
  width: 80%;
  top: 0;
  right: 10px;
  z-index: 50; }

.activity-icon {
  width: 16px;
  height: 16px; }

.detail-text {
  margin-bottom: 12px;
  font-size: 0.7em;
  margin-top: 12px;
  text-align: center; }

.detail-above-mask {
  position: absolute;
  color: white;
  z-index: 50; }

.detail-host {
  height: 140px;
  position: relative; }

.detail-host-avatar {
  position: absolute;
  top: 120px;
  left: 30px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  z-index: 60; }

.detail-mask-label {
  position: absolute;
  color: white;
  content: "";
  font-size: 1em;
  height: 40px;
  width: 300px;
  top: 70px;
  left: 0;
  z-index: 50; }

.detail-label {
  color: black;
  content: "";
  font-size: 1em;
  height: 40px;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  z-index: 50; }

.detail-host-name {
  position: absolute;
  color: white;
  content: "";
  font-size: 0.80em;
  width: 100px;
  height: 40px;
  top: 160px;
  left: 150px;
  z-index: 50; }

.detail-mask-block {
  background-color: rgba(29, 28, 30, 0.8);
  padding-top: 90px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  content: "";
  bottom: 0;
  width: 100%;
  z-index: 0; }

.detail-mask-text {
  z-index: 30;
  color: white; }

.list-block ul:before {
  height: 0; }

.list-block .item-inner:after {
  background-color: black; }

.list-so {
  background-color: black;
  padding: 0.4em 1em 0.4em 1em; }

.list-so-item {
  background-color: white;
  border-radius: 1.5em; }

.so-padding-left {
  padding-left: 1em; }
