<h3>发起人 - 当前活动标题 （活动时间）</h3>
<div layout="row" flex id="content">

    <!-- 用户列表 -->
    <div class="col-md-6">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">可调整状态用户</h3>
            </div>
        </div>

        <ul class="list-group">
            <li class="list-group-item" ng-repeat="entity in list | filter: {is_send: '0'}" ng-click="view(entity)">
                <div class="media">
                    <a class="pull-left" href="">
                        <img width="50" height="50" style="border-radius: 25px" class="media-object avatarSize" ng-src="{{entity.user.profile.headimgurl}}" alt="头像"></a>
                    <span> <strong>{{entity.user.profile.name}}</strong>
                    </span>
                    <span ng-if="entity.status==10" class="btn-float-right" style="color:#33E;">待筛选</span>
                    <span ng-if="entity.status==20" class="btn-float-right" style="color:#3E3;">已通过</span>
                    <span ng-if="entity.status==30" class="btn-float-right" style="color:#E33;">未通过</span>
                </div>
            </li>
            <li class="list-group-item" ng-repeat="entity in list | filter: {status:'10', is_send: '1'}" ng-click="view(entity)">
                <div class="media">
                    <a class="pull-left" href="">
                        <img  width="50" height="50" class="media-object avatarSize" ng-src="{{entity.user.profile.headimgurl}}" alt="..."></a>
                    <span> <strong>{{entity.user.profile.name}}</strong>
                    </span>
                    <span class="btn-float-right" style="color:#33E;">待筛选</span>
                </div>
            </li>
        </ul>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">不可变更状态用户</h3>
            </div>
        </div>

        <ul class="list-group">
            <li class="list-group-item" ng-repeat="entity in list | filter: {status:'20', is_send: '1'}" ng-click="view(entity)">
                <div class="media">
                    <a class="pull-left" href="">
                        <img width="50" height="50" style="border-radius: 25px" class="media-object avatarSize" ng-src="{{entity.user.profile.headimgurl}}" alt="头像"/></a>
                    <span>
                        <strong>{{entity.user.profile.name}}</strong>
                    </span>
                    <span class="btn-float-right" style="color:#3E3;">已通过</span>
                </div>
            </li>
            <li class="list-group-item" ng-repeat="entity in list | filter: {status:'30', is_send: '1'}" ng-click="view(entity)">
                <div class="media">
                    <a class="pull-left" href="">
                        <img width="50" height="50" style="border-radius: 25px"  class="media-object avatarSize" ng-src="{{entity.user.profile.headimgurl}}" alt="头像"></a>
                    <span>
                        <strong>{{entity.user.profile.name}}</strong>
                    </span>
                    <span class="btn-float-right" style="color:#E33;">未通过</span>
                </div>
            </li>
        </ul>
    </div>

    <!-- 用户资料详情 -->    
    <div class="col-md-6" ng-show="entity.user" style="padding:0;border:solid 10px rgba(10,10,10,0.5)">
        <div class="media">                    
            <div style="padding:20px;">
                <div class="pull-left" >
                    <img width="50" style="border-radius: 25px" class="media-object avatarSize" ng-src="{{entity.user.profile.headimgurl}}" alt="..."></div>
                <div style="margin-left:80px;top:0;">
                    <div style="width:100%;display:inline-block;">
                        <span > <font size="+2"><strong>昵称{{entity.user.profile.name}}</strong></font> 
                        </span>
                        <div class="pull-right">
                            <button ng-if="entity.is_send==0" class="btn btn-success" ng-click="pass(entity)">通过</button>
                            <button ng-if="entity.is_send==0" class="btn btn-danger" ng-click="reject(entity)">不通过</button>
                        </div>
                    </div>
                    <div>
                        <span style="color:#777;">
                            {{entity.user.profile.sex==1 ? '男' : entity.user.profile.sex==2 ? '女' : '性别不明'}}
                        </span>
                        <span ng-show="entity.user.profile.birth_year" style="color:#777;">
                            年龄: {{ (today | date:'yyyy') - entity.user.profile.birth_year }}
                        </span>
                        <span style="color:#777;" ng-show="!entity.user.profile.birth_year">年纪不知</span>
                        <div class="pull-right">
                            当前状态：
                            <span ng-if="entity.status==10" style="color:#33E;">待筛选</span>
                            <span ng-if="entity.status==20" style="color:#3E3;">已通过</span>
                            <span ng-if="entity.status==30" style="color:#E33;">未通过</span>
                            <span ng-if="entity.is_send==1" style="color:#333;">
                                <p>已于 {{entity.send_at|date}} 发送通知</p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        <div style="margin-left:20px;">
            <div>
                <div style="display:inline-block;color:#333;width:80px;text-align:right;margin-right:10px;">注册时间：</div>
                {{ entity.user.created_at * 1000 | date: "yyyy年MM月dd日"}}
            </div>
            <div ng-show="entity.user.profile.occupation">
                <div style="display:inline-block;color:#333;width:80px;text-align:right;margin-right:10px;">职业：</div>
                {{entity.user.profile.occupation}}
            </div>
            <div ng-show="entity.user.profile.from>0">
                <div style="display:inline-block;color:#333;width:80px;text-align:right;margin-right:10px;">来自：</div>
                {{entity.user.profile.from}}
            </div>
            <div ng-show="entity.user.profile.want>0">
                <div style="display:inline-block;color:#333;width:80px;text-align:right;margin-right:10px;">想要：</div>
                {{entity.user.profile.want}}
            </div>
        </div>
        <br />
        <div>
            <div>报名次数</div>
            <div>参加次数</div>
            <div>反馈次数</div>
        </div>
        <br />        
        <div style="margin:10px;" ng-repeat="answer in answerItemList">
            <div style="margin:5px;color:#999">问题{{$index+1}}: {{answer.question_label}}</div>
            <div style="margin:5px;padding:5px;border-radius:10px;border:1px solid rgba(10,10,10,0.1)">{{answer.question_value}}</div>
        </div>
    </div>
</div>