<div layout="column" flex id="content" ng-controller="ActivityCtrl">
    <md-button class="activity-dialog-btn md-fab" ng-click="createActivityPage()" aria-label="add activity">
        <i class="fa fa-plus"></i>
    </md-button>
    <md-list>
        <md-list-item>
            <p flex="10"> ID </p>
            <p>标题</p>
            <p>描述</p>
            <p>海报</p>
            <p>详情</p>
            <p>地址</p>
            <p>区域</p>
            <p>分类</p>
            <p>操作</p>
        </md-list-item>
        <md-list-item ng-repeat="activity in list | orderBy: 'displayOrder' ">
            <p flex="10">{{activity.id}}</p>
            <p>{{activity.title}}</p>
            <p>{{activity.desc}}</p>
            <p>{{activity.details}}</p>
            <p><img src="{{activity.poster}}" /></p>
            <p>{{activity.address}}</p>
            <p>{{activity.area}}</p>
            <p>{{activity.type.name}}</p>
            <p layout="row">
                <md-button class="md-raised" ng-click="update(activity)">修改</md-button>
                <md-button class="md-raised md-warn" ng-click="delete(activity)">删除</md-button>
            </p>
        </md-list-item>
    </md-list>

</div>
